#authorize-btn {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #4CAF50; 
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    position: relative;
    z-index: 999;
}

#authorize-btn:hover {
    background-color: #45a049;
}
